fairy tail/src/main/java/com/anmi/anime/fpt/fpt5/jaxb/resources/packageHead.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">

  <xs:element name="packageHead" type="packageHead"/>

  <xs:complexType name="packageHead">
    <xs:sequence>
      <xs:element name="xxly" type="xs:string"/>
      <xs:element name="dbsj" type="xs:string"/>
      <xs:element name="bbh" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

